<?xml version="1.0"?>
<launch>
  <!-- Launch the first robot (ur10e) -->
  <include file="$(find robot_control)/launch/ur10e.launch">
    <arg name="robot_ip" value="192.168.50.9"/>
  </include>

  <!-- Launch the second robot (ur16e) -->
  <include file="$(find robot_control)/launch/ur16e.launch">
    <arg name="robot_ip" value="192.168.50.8"/>
  </include>

</launch>